#ignore build directory
build

#subproject subdirectories
subprojects/googletest
subprojects/libevent
subprojects/lmdb
subprojects/vcblockchain
subprojects/vccert
subprojects/vccrypt
subprojects/vcdb
subprojects/vcmodel
subprojects/vpr

#ignore cscope artifacts
cscope.*
tags
